@page
@model ValorOil.Pages.Wells.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-page="Create">Add Well</a>
</p>
<p>
    <a asp-page="AddReport">Add Report</a>
</p>
<p>
<form>
   <select asp-for="Sort"asp-items="Model.SortList">
    <option value="">Sort by</option>
   </select> 
   <button type="submit">Sort</button>
</form>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@Model.CFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to Well List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
            @{
            var Nsort = "Well_Name";
            var FSort = "ASC";
            if (Model.Sort == "ASC")
            {
            FSort = "DESC";
            }else{
            Nsort = "Well_Name";
            }   
            }
            <a asp-page="./Index" asp-route-Sort="@FSort" asp-route-Sort="@Nsort"
            >@Html.DisplayNameFor(model => model.Well[0].Well_Name)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Well[0].Storage_Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Well[0].Flow_Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Well[0].Operator)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Well) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Well_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage_Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flow_Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operator.Operator_FirstName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.WellID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.WellID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.WellID">Delete</a> |
            </td>
        </tr>
}
    </tbody>
</table>
@{
    var Disable = "";
    if (Model.PageNum <= 1)
    {
        Disable = "disabled";
    }
}
<nav aria-label="Page Nav">
    <ul class="pagination">
        <li class="page-item @Disable"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum - 1)">Previous</a></li>
        <li class="page-item"><a class="page-link" asp-page="./Index" asp-route-PageNum="@(Model.PageNum + 1)">Next</a></li>
    </ul>
</nav>
